<footer class="w-full px-4  mx-auto dark:bg-gray-800 max-w-[85rem] sm:px-6 lg:px-8">
    <div class="py-10">
        <div class="pt-10 border-t border-gray-200 dark:border-gray-700">
            <div class="sm:flex sm:justify-between sm:items-center">
                <div class="flex items-center justify-center gap-x-3">
                    <div class=" space-x-4 relative inline-flex [--placement:top-left] text-sm font-semibold text-slate-700">
                        <a class="inline-flex gap-x-2 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200"
                           href="<?php echo SYS_URL; ?>/terms">Terms</a>
                        <a class="inline-flex gap-x-2 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200"
                           href="<?php echo SYS_URL; ?>/privacy">Privacy</a>

                    </div>
                    <button type="button" id="toggle-dark"
                            class="cursor-pointer inline-flex items-center justify-center w-8 h-8 text-gray-400 rounded-lg hover:text-white focus:outline-none">
                        <svg viewBox="0 0 20 20" fill="none" aria-hidden="true"
                             class="w-6 h-6 stroke-zinc-900 dark:hidden">
                            <path d="M12.5 10a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"></path>
                            <path stroke-linecap="round"
                                  d="M10 5.5v-1M13.182 6.818l.707-.707M14.5 10h1M13.182 13.182l.707.707M10 15.5v-1M6.11 13.889l.708-.707M4.5 10h1M6.11 6.111l.708.707"></path>
                        </svg>
                        <svg viewBox="0 0 20 20" fill="none" aria-hidden="true"
                             class="hidden w-6 h-6 stroke-white dark:block">
                            <path d="M15.224 11.724a5.5 5.5 0 0 1-6.949-6.949 5.5 5.5 0 1 0 6.949 6.949Z"></path>
                        </svg>
                    </button>
                </div>

                <div class="flex items-center justify-center mt-6 sm:justify-between sm:mt-0">
                    <p class="text-sm leading-6 text-slate-500">© {{ "now"|date("Y") }} | IPLocalize.com. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>
    document.documentElement.querySelector("#toggle-dark").addEventListener(
        "click",
        function (event) {
            event.preventDefault();
            if (document.documentElement.classList.contains("dark")) {
                document.documentElement.classList.remove("dark");
                localStorage.setItem("theme", "light");
            } else {
                document.documentElement.classList.add("dark");
                localStorage.setItem("theme", "dark");
            }
        },
        false
    );
</script>