<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}IPLocalize - Free IP Geolocation API and Accurate IP Geolocation{% endblock %}</title>
    <meta name="description"
          content="IPLocalize is a free, fast, and accurate IP Geolocation API. Get location, timezone, currency, and more with a single API call.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="icon" type="image/svg+xml" href="{{ asset('/static/favicon.svg') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <script>

        if (
            localStorage.getItem('theme') === 'dark' ||
            (!localStorage.getItem('theme') && window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark');
        }
    </script>

</head>
<body class="dark:bg-gray-800">
{% block body %}{% endblock %}
</body>
</html>
